/* Roboto */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url('Roboto-Thin.ttf'); /*IE9 Compat Modes*/
  src: local('Roboto'), url('Roboto-Thin.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('Roboto-Light.ttf'); /*IE9 Compat Modes*/
  src: local('Roboto'), url('Roboto-Light.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('Roboto-Regular.ttf'); /*IE9 Compat Modes*/
  src: local('Roboto'), url('Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('Roboto-Medium.ttf'); /*IE9 Compat Modes*/
  src: local('Roboto'), url('Roboto-Medium.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('Roboto-Bold.ttf'); /*IE9 Compat Modes*/
  src: local('Roboto'), url('Roboto-Bold.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('Roboto-Black.ttf'); /*IE9 Compat Modes*/
  src: local('Roboto'), url('Roboto-Black.ttf');
}
